body{
	background-color:  #b8d6d9;
	padding:0;
	margin:300;
	font-family: monospace,serif;
}

h1{
    border-style: solid;
    top:60px
    width left :300px;
    width right: 300px;
    border-color: white;
}


section#fixed-links {
    width: 130px;
    height: auto;
    display: inline-block;
    top: 350px;
    right: 130;
    position: fixed;
    z-index: 999;
}

img#logo{
        position:absolute;
        top:20px;
        left:500;
        width:200px;
}

