body {
  background-color: #d8e2ee;
  padding: 0;
  margin: 300;
  margin-top: 160px;
  font-family: monospace, serif;
}

h1 {
  background-color: rgba(255, 255, 255, 0.64);
  margin: 10px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 20px;
  color: black;
  border-radius: 5px 5px 5px 5px;
}

section#fixed-links {
  width: 130px;
  height: auto;
  display: inline-block;
  top: 200px;
  right: -120;
  position: relative;
  z-index: 999;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
 
img{
    position: absolute;
    margin-left: 600px;
    margin-top: -125px;
}


  



